<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});

      const global = {};

      function load() {
        const data = JSON.parse(document.getElementById('data').innerText);
        global.data = data;

        const patterns = Array.from(new Set(data["revisions"].map((revision) => revision["patterns"]).flat().map((pattern) => pattern.pattern)));
        const patternElement = document.getElementById('pattern');
        for (const pattern of patterns) {
          const optionElement = document.createElement('option');
          optionElement.innerText = pattern;
          optionElement.value = pattern;
          patternElement.append(optionElement);
        }

        drawChart();
      }

      function drawChart() {
        // 選択中のパターンを取得
        const selectedPattern = document.getElementById('pattern').value;

        // オーサーの並び順を決めるため、一度全リビジョンをチェックしオーサー毎のコード数合計を求める
        const authors = {};
        for (const { patterns } of global.data["revisions"]) {
          const pattern = patterns.find(({pattern}) => pattern === selectedPattern);
          if (pattern) {
            const { counter } = pattern;
            for (const [author, lineCount] of Object.entries(counter)) {
              authors[author] = lineCount + (authors[author] || 0);
            }
          }
        }

        // 行数 > 名前 の順序で並び替えたオーサー名配列を作る
        const authorsRank = Object.entries(authors).sort(([lAuthor, lLineCount], [rAuthor, rLineCount]) => {
          if (lLineCount === rLineCount) {
            return lAuthor > rAuthor ? 1 : -1;
          } else {
            return lLineCount < rLineCount ? 1 : -1;
          }
        }).map(([author]) => author);

        // 描画データを作成
        const drawHeader = ["Revision"].concat(authorsRank.map((rank) => [rank, {role: 'annotation'}]).flat());
        const drawData = [];
        for (const { revision, patterns } of global.data["revisions"]) {
          const pattern = patterns.find(({pattern}) => pattern === selectedPattern);
          if (pattern) {
            const { counter } = pattern;

            const lineData = [revision];
            for (const author of authorsRank) {
              lineData.push(counter[author] || 0);
              lineData.push(author);
            }

            console.log(lineData);

            drawData.push(lineData);
          }
        }
        console.log(drawData);

        const data = google.visualization.arrayToDataTable([
          drawHeader,
          ...drawData,
        ]);

        const options = {
          chart: {
            title : 'Lines'
          },
          width: '100%',
          height: '100%',
          legend: { position: 'top', maxLines: 3 },
          bar: { groupWidth: '75%' },
          isStacked: true,
          series: authorsRank.reduce((ret, current, index) => {
            const colors = ["pink", "peachpuff", "lightyellow", "palegreen", "lightcyan", "powderblue", "thistle"]
            ret[index] = {color: colors[index % colors.length]};
            return ret;
          }, {})
        };

        const chart = new google.charts.Bar(document.getElementById('chart'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
  </head>
  <body onload="load()" style="height: 100%;" onresize="drawChart()">
    <div>
      Pattern: <select id="pattern" onchange="drawChart()"></select>&nbsp;Name: {{ name }}
    </div>
    <br />
    <div id="chart" style="height: 90%;"></div>
    <div id="data" style="display: none;">
      {{ data|tojson }}
    </div>
  </body>
</html>
